body{
    font-family: sans-serif;
    margin:1rem auto;
    max-width:80rem;
}
#main{
    visibility: hidden;
}
.header,table{
    margin:3rem 1rem 1rem 1rem;
}
.footer{
    margin:2rem 1rem 3rem 1rem;
}
table,th,td{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    padding:5px 10px;
}
a{
    color:rgb(19, 84, 148);
    text-decoration: underline rgb(19, 84, 148);
}
.noscript,#error{
    max-width:20rem;
    text-align:center;
    margin:1rem auto;
    background-color:rgb(235, 34, 75);
    border:rgb(160, 23, 50) solid 4px;
    border-radius:15px;
    padding:1rem 3rem;
}
#error{
    display:none;
}
#error a{
    color:black;
    text-decoration: underline black;
}
code,pre{
    font-family: monospace;
    font-size:100%;
    background-color:rgb(34, 34, 34);
    color:white;
    padding:2px 5px;
    border-radius:5px;
}
li{
    margin:10px 0px;
}
pre{
    font-size:120%;
    padding:1rem;
    overflow-x:scroll;
}
a.deprecated{
    color:rgb(161, 66, 3);
    text-decoration:rgb(161, 66, 3) underline;
}